Java/Hello/src/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="helloWorld">
    <xs:sequence>
      <xs:element name="hello" type="xs:string" minOccurs="0"/>
      <xs:element name="hellos" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

